:host {


  mat-card.game-arena__card {
    background-color: var(--sw-primary);
    width: 300px;
    height: 400px;
    border: 8px solid transparent;

    mat-card-header {
      justify-content: center;

      ::ng-deep .mat-card-header-text {
        margin: 0;
      }
    }

    mat-card-content {
      display: flex;
      flex-flow: column;
      align-items: center;
      font-family: Anakin;
    }
  }


  .game-card__unit-symbol {
    margin-top: 12px;
  }

  .game-card__unit-name {
    margin-top: 32px;
    text-transform: uppercase;
    font-size: 16px;
  }

  .game-card__unit-value {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    animation: typewriter 5s steps(44);
    animation-delay: 2s;
    font-size: 28px;
    margin-top: 48px;
  }

  .game-arena__card-divider {
    padding: 12px;
  }

  .game-arena__no-winner {
    display: none;
  }


}


@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
