<div style="display: flex; justify-content: center; align-items: center;">
  <mat-card style=" width: 300px;">
    <mat-card-header>
      <h3>player one</h3>
    </mat-card-header>
    <mat-card-content>
      <div>{{fightingUnits.player1Unit?.name}}</div>
      <div> {{fightingUnits?.battleUnitProp}}: {{fightingUnits?.player1Unit[fightingUnits?.battleUnitProp]}}</div>
    </mat-card-content>
  </mat-card>
  <h2>v</h2>
  <mat-card style=" width: 300px;">
    <mat-card-header>
      <h3>player two</h3>
    </mat-card-header>
    <mat-card-content>
      <div>{{fightingUnits.player2Unit?.name}}</div>
      <div>{{fightingUnits?.battleUnitProp}}: {{fightingUnits?.player2Unit[fightingUnits?.battleUnitProp]}}</div>
    </mat-card-content>
  </mat-card>
</div>
