mat-button-toggle.mat-button-toggle {
  background-color: rgba(0, 0, 0, 1);
  opacity: .4;
  transition: opacity .25s;
  border: 1px solid transparent;

  &.mat-button-toggle-checked {
    opacity: 1;
    border-color: var(--sw-accent);
    border-radius: 4px;
  }

  &+.mat-button-toggle.mat-button-toggle-checked {
    border-left-color: var(--sw-accent);
  }
}
